In [20]:
import pandas as pd

df = pd.read_csv('/Users/jeffreyebert/Downloads/mens-machine-learning-competition-2019/MasseyOrdinals.zip')

In [21]:
df

         Season  RankingDayNum SystemName  TeamID  OrdinalRank
0          2003             35        SEL    1102          159
1          2003             35        SEL    1103          229
2          2003             35        SEL    1104           12
3          2003             35        SEL    1105          314
4          2003             35        SEL    1106          260
5          2003             35        SEL    1107          249
6          2003             35        SEL    1108          228
7          2003             35        SEL    1110          204
8          2003             35        SEL    1111          183
9          2003             35        SEL    1112           26
10         2003             35        SEL    1113           89
11         2003             35        SEL    1114          110
12         2003             35        SEL    1115          287
13         2003             35        SEL    1116          143
14         2003             35        SEL    1117          255
15         2003             35        SEL    1119          318
16         2003             35        SEL    1120           74
17         2003             35        SEL    1122          111
18         2003             35        SEL    1123           40
19         2003             35        SEL    1124           91
20         2003             35        SEL    1125          163
21         2003             35        SEL    1126          203
22         2003             35        SEL    1127          173
23         2003             35        SEL    1128          220
24         2003             35        SEL    1129          139
25         2003             35        SEL    1130           64
26         2003             35        SEL    1131           83
27         2003             35        SEL    1132          270
28         2003             35        SEL    1133          200
29         2003             35        SEL    1135          279
...         ...            ...        ...     ...          ...
3492290    2018            133        ZAM    1433          133
3492291    2018            133        ZAM    1434          141
3492292    2018            133        ZAM    1435           90
3492293    2018            133        ZAM    1436           77
3492294    2018            133        ZAM    1437            1
3492295    2018            133        ZAM    1438            2
3492296    2018            133        ZAM    1439           51
3492297    2018            133        ZAM    1440          330
3492298    2018            133        ZAM    1441          314
3492299    2018            133        ZAM    1442          286
3492300    2018            133        ZAM    1443           40
3492301    2018            133        ZAM    1444          203
3492302    2018            133        ZAM    1447          218
3492303    2018            133        ZAM    1448           82
3492304    2018            133        ZAM    1449          103
3492305    2018            133        ZAM    1450          170
3492306    2018            133        ZAM    1451          153
3492307    2018            133        ZAM    1452           11
3492308    2018            133        ZAM    1453          247
3492309    2018            133        ZAM    1454          205
3492310    2018            133        ZAM    1455           15
3492311    2018            133        ZAM    1456          171
3492312    2018            133        ZAM    1457          155
3492313    2018            133        ZAM    1458           59
3492314    2018            133        ZAM    1459          117
3492315    2018            133        ZAM    1460          132
3492316    2018            133        ZAM    1461           95
3492317    2018            133        ZAM    1462           14
3492318    2018            133        ZAM    1463          216
3492319    2018            133        ZAM    1464          328

[3492320 rows x 5 columns]

In [55]:

zip_file = ZipFile('/Users/jeffreyebert/Downloads/mens-machine-learning-competition-2019/PlayByPlay_2010.zip')
dfs = {text_file.filename: pd.read_csv(zip_file.open(text_file.filename))
       for text_file in zip_file.infolist()
       if text_file.filename.endswith('.csv')}

In [56]:
dfs

{'Events_2010.csv':          EventID  Season  DayNum  WTeamID  LTeamID  WPoints  LPoints  \
 0              1    2010       7     1143     1293        0        0
 1              2    2010       7     1143     1293        0        0
 2              3    2010       7     1143     1293        0        0
 3              4    2010       7     1143     1293        0        0
 4              5    2010       7     1143     1293        0        0
 5              6    2010       7     1143     1293        2        0
 6              7    2010       7     1143     1293        0        0
 7              8    2010       7     1143     1293        0        0
 8              9    2010       7     1143     1293        2        2
 9             10    2010       7     1143     1293        0        0
 10            11    2010       7     1143     1293        4        2
 11            12    2010       7     1143     1293        0        0
 12            13    2010       7     1143     1293        4        5
 13            14    2010       7     1143     1293        0        0
 14            15    2010       7     1143     1293        0        0
 15            16    2010       7     1143     1293        0        0
 16            17    2010       7     1143     1293        0        0
 17            18    2010       7     1143     1293        0        0
 18            19    2010       7     1143     1293        0        0
 19            20    2010       7     1143     1293        4        6
 20            21    2010       7     1143     1293        6        6
 21            22    2010       7     1143     1293        0        0
 22            23    2010       7     1143     1293        0        0
 23            24    2010       7     1143     1293        0        0
 24            25    2010       7     1143     1293        0        0
 25            26    2010       7     1143     1293        0        0
 26            27    2010       7     1143     1293        0        0
 27            28    2010       7     1143     1293        0        0
 28            29    2010       7     1143     1293        0        0
 29            30    2010       7     1143     1293        0        0
 ...          ...     ...     ...      ...      ...      ...      ...
 2502600  2502601    2010     154     1181     1139        0        0
 2502601  2502602    2010     154     1181     1139        0        0
 2502602  2502603    2010     154     1181     1139        0        0
 2502603  2502604    2010     154     1181     1139        0        0
 2502604  2502605    2010     154     1181     1139        0        0
 2502605  2502606    2010     154     1181     1139        0        0
 2502606  2502607    2010     154     1181     1139        0        0
 2502607  2502608    2010     154     1181     1139        0        0
 2502608  2502609    2010     154     1181     1139       60       57
 2502609  2502610    2010     154     1181     1139        0        0
 2502610  2502611    2010     154     1181     1139        0        0
 2502611  2502612    2010     154     1181     1139        0        0
 2502612  2502613    2010     154     1181     1139        0        0
 2502613  2502614    2010     154     1181     1139        0        0
 2502614  2502615    2010     154     1181     1139       60       59
 2502615  2502616    2010     154     1181     1139        0        0
 2502616  2502617    2010     154     1181     1139        0        0
 2502617  2502618    2010     154     1181     1139        0        0
 2502618  2502619    2010     154     1181     1139        0        0
 2502619  2502620    2010     154     1181     1139        0        0
 2502620  2502621    2010     154     1181     1139        0        0
 2502621  2502622    2010     154     1181     1139        0        0
 2502622  2502623    2010     154     1181     1139        0        0
 2502623  2502624    2010     154     1181     1139        0        0
 2502624  2502625    2010     154     1181     1139        0        0
 2502625  2502626    2010     154     1181     1139        0        0
 2502626  2502627    2010     154     1181     1139        0        0
 2502627  2502628    2010     154     1181     1139       61       59
 2502628  2502629    2010     154     1181     1139        0        0
 2502629  2502630    2010     154     1181     1139        0        0

          ElapsedSeconds  EventTeamID  EventPlayerID   EventType
 0                     0         1143         600578      sub_in
 1                     0         1143         600584      sub_in
 2                     0         1143         600585      sub_in
 3                    10         1143         600581   miss2_lay
 4                    10         1143         600581     reb_off
 5                    14         1143         600581  made2_jump
 6                    36         1293         602791  miss2_jump
 7                    36         1293         602781     reb_off
 8                    40         1293         602781  made2_jump
 9                    56         1143         600577      assist
 10                   56         1143         600581  made2_jump
 11                   72         1293         602791      assist
 12                   72         1293         602787  made3_jump
 13                   90         1293         602787       block
 14                   90         1143         600580  miss2_jump
 15                   92         1293         602785     reb_def
 16                   96         1143         600575   foul_pers
 17                   96         1293         602781  miss1_free
 18                   96         1143         600582     reb_def
 19                   96         1293         602781  made1_free
 20                  112         1143         600575  made2_jump
 21                  128         1293         602796  miss2_jump
 22                  128         1143         600582     reb_def
 23                  134         1143         600577  miss3_jump
 24                  134         1293         602787     reb_def
 25                  151         1293         602785   foul_pers
 26                  151         1293         602785    turnover
 27                  165         1293         602785   foul_pers
 28                  165         1293         602789      sub_in
 29                  165         1293         602785     sub_out
 ...                 ...          ...            ...         ...
 2502600            2215         1139         600520       steal
 2502601            2215         1181         601172       steal
 2502602            2215         1139         600520    turnover
 2502603            2215         1181         601172    turnover
 2502604            2246         1139         600520  miss2_jump
 2502605            2246         1181         601168     reb_def
 2502606            2276         1181         601169    turnover
 2502607            2296         1139         600515      assist
 2502608            2296         1139         600516   made2_lay
 2502609            2321         1181         601170  miss2_jump
 2502610            2321         1139         600521     reb_def
 2502611            2327         1139         600520  miss3_jump
 2502612            2327         1139         600516     reb_off
 2502613            2345         1139         600520      assist
 2502614            2345         1139         600516   made2_lay
 2502615            2351         1181         601171     timeout
 2502616            2363         1181         601169  miss2_jump
 2502617            2363         1139         600521     reb_def
 2502618            2386         1139         600525     timeout
 2502619            2386         1139         600525     timeout
 2502620            2393         1139         600515  miss2_jump
 2502621            2393         1181         601173     reb_def
 2502622            2397         1139         600520   foul_pers
 2502623            2397         1181         601173  miss1_free
 2502624            2397         1139         600515     reb_def
 2502625            2397         1139         600514      sub_in
 2502626            2397         1139         600521     sub_out
 2502627            2397         1181         601173  made1_free
 2502628            2400         1139         600515  miss3_jump
 2502629            2400         1181         601171     reb_def

 [2502630 rows x 11 columns],
 'Players_2010.csv':       PlayerID  Season  TeamID         PlayerName
 0       600001    2010    1102      BOHANNON_ZACH
 1       600002    2010    1102    BRAKEVILLE_ADAM
 2       600003    2010    1102   BROEKHUIS_TAYLOR
 3       600004    2010    1102       BROOKS_DEREK
 4       600005    2010    1102        EL-AMIN_SAJ
 5       600006    2010    1102    FITZGERALD_MIKE
 6       600007    2010    1102      FLETCHER_TODD
 7       600008    2010    1102            FOW_TOM
 8       600009    2010    1102         GREEN_KYLE
 9       600010    2010    1102      HEMPSEY_SHAWN
 10      600011    2010    1102      LYONS_MICHAEL
 11      600012    2010    1102        MCLAIN_MIKE
 12      600013    2010    1102      MERRIEX_AVERY
 13      600014    2010    1102       PARKER_GRANT
 14      600015    2010    1102      SCHAFER_SAMMY
 15      600016    2010    1102     STEWART_TAYLOR
 16      600017    2010    1102               TEAM
 17      600018    2010    1102    WASHINGTON_EVAN
 18      600019    2010    1103         BARDO_MIKE
 19      600020    2010    1103        CARROLL_TIM
 20      600021    2010    1103      CONYERS_JIMMY
 21      600022    2010    1103  CVETINOVIC_NIKOLA
 22      600023    2010    1103   HITCHENS_ANTHONY
 23      600024    2010    1103      MARSHALL_ZEKE
 24      600025    2010    1103   MCCLANAHAN_BRETT
 25      600026    2010    1103     MCKNIGHT_BRETT
 26      600027    2010    1103     MCKNIGHT_CHRIS
 27      600028    2010    1103       MCNEES_STEVE
 28      600029    2010    1103      PETERSEN_KYLE
 29      600030    2010    1103     ROBERTS_DARRYL
 ...        ...     ...     ...                ...
 5257    605258    2010    1462        WALSH_BRIAN
 5258    605259    2010    1463     ANDERSON_RHETT
 5259    605260    2010    1463    BRASWELL_PORTER
 5260    605261    2010    1463         DAVIS_JOSH
 5261    605262    2010    1463      GIBSON_JORDAN
 5262    605263    2010    1463      GRACE_MICHAEL
 5263    605264    2010    1463         KATZ_BRIAN
 5264    605265    2010    1463       MANGANO_GREG
 5265    605266    2010    1463     MANTILLA_RAFFI
 5266    605267    2010    1463         MARTIN_SAM
 5267    605268    2010    1463      MORGAN_AUSTIN
 5268    605269    2010    1463        NELSON_PAUL
 5269    605270    2010    1463      SANDS_MICHAEL
 5270    605271    2010    1463               TEAM
 5271    605272    2010    1463    WILLHITE_REGGIE
 5272    605273    2010    1463       ZAMPIER_ALEX
 5273    605274    2010    1464     BLOCKER_DALLAS
 5274    605275    2010    1464        BOUDLER_DAN
 5275    605276    2010    1464      BRIGHT_KELVIN
 5276    605277    2010    1464      COOKSEY_VANCE
 5277    605278    2010    1464       DHAITI_EDDIE
 5278    605279    2010    1464   MARTIN_SIRLESTER
 5279    605280    2010    1464       MAYS_DEANDRE
 5280    605281    2010    1464          PARKS_TOM
 5281    605282    2010    1464      REBILLOT_ZACH
 5282    605283    2010    1464      REBILLOT_ZACK
 5283    605284    2010    1464      SULSKIS_VYTAS
 5284    605285    2010    1464               TEAM
 5285    605286    2010    1464         TIMKO_ANDY
 5286    605287    2010    1464         WARD_ASHEN

 [5287 rows x 4 columns]}